<!--The content below is only a placeholder and can be replaced.-->
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">lien 1</li>
      <li routerLinkActive="active"><a routerLink="commande">Commande</a></li>
    </ul>
  </div>
</nav> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <button class="btn btn-success" (click)="getListeCommandes()">RECUP</button>
        <h2>Liste des commandes: </h2>
        
        <select class="form-control" [(ngModel)]="selectedId">
          <option [(ngValue)]="idCommande" *ngFor = "let idCommande of listeCommandes">{{idCommande}}</option>
        </select>
    </div>
    <div class="col-sm-8 text-left">
        <app-commande *ngIf="selectedId" [commandeNumero]="selectedId"></app-commande>
    </div>
    <div class="col-sm-2 text-left">
    </div>
  </div>
</div>

  <!-- <li><h2>{{Commande.numero}} -- {{Commande.nomClient}} -- {{Commande.adresse}}</h2></li>
  <ul *ngFor = "let ordre of Commande.listOrdreDebit">
    <li ><h3>{{ordre.nom}} -- {{ordre.atelier}} -- {{ordre.demande_le}}</h3></li>
    <ul *ngFor = "let element of ordre.listElements">
      <li ><p>{{element.reference}} - {{element.quantite}} - {{element.designation}}</p></li>
    </ul>
  </ul>
  <ul *ngFor = "let bocad of Commande.listBocad">
    <li ><h3>{{bocad.phase}} - {{bocad.revision}} - {{bocad.type}} - {{bocad.peinture}}</h3></li>
    <ul *ngFor = "let element of bocad.elementBoulons">
      <li ><p>{{element.numero}} - {{element.quantite}} - {{element.designation}} - {{element.resistance}}</p></li>
    </ul>
    <ul *ngFor = "let element of bocad.elementExpeditions">
      <li ><p>{{element.numero}} - {{element.quantite}} - {{element.designation}} - {{element.resistance}}</p></li>
    </ul>
  </ul>
</ul> -->

<router-outlet></router-outlet>
